.Rproj.user
.Rhistory
.RData
.Ruserdata
# ignore de data, visu et rapport et code
code.R
/data
/visu
/rapport/image
/rapport/geocodage_sujet_files
/rapport/geocodage_sujet_partb_files
# rendu Rmarkdown
*.html
*.md
*.pdf
*.png